[mysqld]   
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
general_log = 1  # 詳細ログを有効化
general_log_file=/var/data/log/general.log # ファイルパス
log-error=/var/data/log/mysqld.log # ファイルパス


[mysqldump]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4