pymysql
pydantic
databases
pydantic[email]
setuptools
uvicorn
fastapi
mysqlclient
sqlalchemy
cryptography
pytz
python-dotenv
passlib[bcrypt]
itsdangerous
python-jose[cryptography]
jose
python-multipart